<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Security lab</title>

    <!-- Bootstrap core CSS -->
    <link href="/scripts/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/public/signin.css" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
</head>

<body>

<div class="container">
    {% block content %}{% endblock %}
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/scripts/jquery/dist/jquery.min.js"></script>
<script src="/scripts/bootstrap/dist/js/bootstrap.bundle.js"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
